{% extends "main.j2" %}
{% block title %}About{% endblock %}
{% block name %}<h2>About</h2>{% endblock %}

{% block content %}
    {{ super() }}

    <p>This website was made to help find Puget Sound low tides and beaches open for harvesting shellfish. Select New Search to begin finding low tides and beaches.</p>
    <p>This site was made by Dylan Majewski. Find more about me <a href="">here</a>.</p>

{% endblock %}