{% extends "main.j2" %}
{% block title %}{{context}}{% endblock %}
{% block name %}<h2>{{context}}</h2>{% endblock %}

{% block content %}
    {{ super() }}
        <!-- https://developers.facebook.com/docs/plugins/share-button -->
        <!-- https://developers.facebook.com/docs/plugins/share-button -->
        <div id="fb-root"></div>
        <script>
            (function(d, s, id)
                {var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                        js = d.createElement(s); js.id = id;
                        js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
                        fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
        </script> 



            <table>

        {# 
            Citation for the following data gathering:
            Date: 11/30/2023
            Adapted/Based on:
            Source URL: https://canvas.oregonstate.edu/courses/1933532/pages/exploration-developing-in-flask?module_item_id=23359479 
        #}
        <!-- Access the data that was passed from the app.py -->
        <p><a href="javascript:history.back()">← Go Back to date selection </a></p>
        <p>Low tides shown are those below MLW, or 2.83' MLLW. Tides and Daylight times are based on Seattle (NOAA Station 9447130, LAT 38.907192 & LONG -77.036873). Tides throughout the Sound will be within about 30 minutes of Seattle. Differences in daylight are negligible.</p>

        {% if data %}
            <thead>
                <tr>
                    <!-- Loops through the columns name -->
                    <th scope="col" data-field="t" data-filter-control="input">Date and Time</th>
                    <th scope="col" data-field="t" data-filter-control="input">Tide MLLW</th>
                    <th scope="col" data-field="t" data-filter-control="input">Dawn</th>
                    <th scope="col" data-field="t" data-filter-control="input">Dusk</th>
                </tr>
            </thead>

            <tbody>
                <!-- Loops through every item -->
                {% for item in data %}
                <tr>
                    <!-- For each item, get key -->
                    <td> {{item["date"]}} </td>
                    <td> {{item["v"]}}' </td>
                    <td> {{item["dawn"]}} </td>
                    <td> {{item["dusk"]}} </td>
                    <td scope="col">
                        <div class="fb-share-button" data-href="https://clamcatcher.com/" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
                        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-url="https://clamcatcher.com/" data-dnt="true" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        {% endif %}
        </table>

        
{% endblock %}