{% extends "main.j2" %}
{% block title %}State Rules and Resources{% endblock %}
{% block name %}<h2>State Rules and Resources</h2>{% endblock %}

{% block content %}
    {{ super() }}
    <p>Washington State has a number of rules and resources for shellfish harvesting. The Washington Department of Fish and Wildlife (WDFW) has a number of resources for shellfish harvesting and a list of shellfish and seaweed species rules. The Washington Department of Health (WDoH) has a map of shellfish safety, and information about Vibriosis from shellfish.</p>
    <p><a href="https://wdfw.wa.gov/places-to-go/shellfish-beaches">Link to WDFW Shellfish overview</a></p>
    <p><a href="https://www.eregulations.com/washington/fishing/shellfish-seaweed-species-rules">Link to WDFW Shellfish and Seaweed Species Rules</a></p>
    <p><a href="https://fortress.wa.gov/doh/biotoxin/biotoxin.html">Link to WDoH Shellfish Safety Map</a></p>
    <p><a href="https://doh.wa.gov/you-and-your-family/illness-and-disease-z/vibriosis-shellfish">Link to WDoH Information anout Vibriosis from Shellfish</a></p>

{% endblock %}